AuthType Basic
AuthName "PiFM Radio Web Interface - Private Use Only (Controlls are not available outside LAN!)"
AuthUserFile /var/.htpasswd
Require valid-user
ServerSignature Off

DirectoryIndex  index.html  index.php 

<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store,must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>

